/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins');

body{
  /* font-family: 'Noto Sans', sans-serif; */
  font-family: 'Poppins', sans-serif;
  font-size: 13px !important;
}
.img-product {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-product {
  width: inherit;
  height: 300px;
  object-fit: cover;
}
.card.products{
  width: 300px;
}
.card.products .fa {
  visibility: hidden;
  display: none;
  font-size:small;
  color: #007bff;
  background: #ddd;
  padding: 6px;
  border-radius: 50%;
}
.card.products:hover .fa-edit {
  visibility: visible;
  display: block;
  position: absolute;
  top: 2%;
  left: 78%;
  cursor: pointer;
}

.card.products:hover .fa-trash {
  visibility: visible;
  display: block;
  position: absolute;
  top: 2%;
  left: 90%;
  cursor: pointer;
}

.font-card {
  font-weight: 550;
}

.hover.btn-link:hover {
  color: #6c757d !important;
  text-decoration: underline;
}

.image-fit{
  height: 70px;
  object-fit: cover;
}

/* Page Loader */
.loader {
  border: 14px solid #f3f3f3;
  border-radius: 50%;
  border-top: 14px solid #28166f;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  div.home {
    color: #3c4b64;
    background-color: #ddd;
    min-height: 100vh;
  }
  .home-chart {
    background-color: whitesmoke;
    box-shadow: 2px 4px 6px 1px #191a35 !important;
  }
  #table.card {
    background-color: whitesmoke;
    border: none;
    color: #0a0b18;
    box-shadow: 2px 4px 6px 1px #191a35 !important;
  }
  #table .table-bordered {
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  div.home.light-theme {
    background-color: #eeeeee;
    color: #0a0b18;
    min-height: 100vh;
  }
  .home-chart.light-theme {
    background-color: #eee;
    color: #0a0b18;
    box-shadow: 2px 4px 6px 1px #191a35 !important;
  }
  #table.card.light-theme {
    background-color: #eeeeee;
    border-color: #181924;
    color: #0a0b18;
    box-shadow: 2px 4px 6px 1px #191a35 !important;
  }
  #table .table-bordered.light-theme {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

body, .bg-img {
  font-size: 14px;
  min-height: 100vh;
  overflow-x: hidden;
}

.alt {
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
  border: 0;
  transition: box-shadow 0.15s ease;
}
.alt_right {
  border-right: none !important;
}

.alt_left {
  border-left: none !important;
}

div.card, div.bottom_link {
  width: inherit;
}

.bg-light {
  background-color: #f8f9fa !important;
}

div.card {
  background-color: #f8f9fa ;
}
.bg-secondary {
  background-color: #e9eaeb !important;
}

.bg-btn {
  background-image: linear-gradient(#5e72e4, #415cf0);
  color: white !important;
  transition: all ease-in-out 1s;
}

.bg-btn:hover {
  background-image: linear-gradient(#5e72e4f8, #415bf0da);
  color: white !important;
}

.form-control {
  transition: all ease-in-out 0.5s;
}

.form-control:focus {
  /* color: #495057; */
  background-color: #fff;
  border-color: none;
  outline: 0;
  box-shadow: none;
  transform: scale(0.985);
}

/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content2 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
.bg-card{
  background: none !important;
}
/* Add Animation */
.modal-content2 {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}
.spin-center {
  top: 50%;
  left: 50%;
  position: absolute;
}
/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff !important;
  opacity: 1 !important;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close2 {
  position: absolute;
  top: 100px !important;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.bg-img {
  background-image: url("https://mcdn.wallpapersafari.com/medium/59/15/LdQBsI.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

small a {
  text-decoration: none;
  color: #28166f;
  font-size: 14px;
  font-weight: 610;
}

small a:hover, a:focus, a:active {
  text-decoration: none;
  color: #28166f;
}

.bg-navbar {
  background-image: linear-gradient(#5e72e4, #415cf0);
}

.cent {
  margin-top: calc(100vh - 80vh);
}

.collapse ul a li {
  color: white !important;
}

label {
  display: none;
}

label.show {
  display: block;
}
label {
  margin-bottom : 0 !important;
}

.other_files{
  width: 200px;
  background-color: blue;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagePreview {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.images{
  display: flex;
}
.attached_files:hover .fa-trash{
  visibility:visible;
}
.attached_files .fa-trash{
  position: absolute;
  left: 140px;
  top:10px;
  cursor: pointer;
  visibility: hidden;
}

.other_files:hover .fa-trash, .imgPreview:hover .fa-trash{
  visibility:visible;
}
.imgPreview .fa-trash{
  position: absolute;
  left: 92%;
  cursor: pointer;
  visibility: hidden;
  top: 20px;
}
.imgPreview2 .fa-trash{
  position: relative;
  left: 200px !important;
  top:-80px !important;
  cursor: pointer;
  visibility: hidden;
}
.other_files .fa-trash{
  position: absolute;
  left: 195px;
  top:10px;
  cursor: pointer;
  visibility: hidden;
}

.other_files2 .fa-trash{
  position: relative;
  left: 200px !important;
  top:-80px !important;
  cursor: pointer;
  visibility: hidden;
}

.image_product{
  width: 100%;
  height: 200px;
}
.products{
  display: flex;
  justify-content: center;
  align-items: center;
}
.new_product{
  float: right;
}
.product_details{
  display: flex;
  justify-content: center;
  align-items: center;
}
.description p{
  font-size: 14px;
  line-height: 1.5rem;
}
.packages .card-header{
  font-size: 14px;
  font-weight: 600;
}
.packages li{
  list-style-type: none;
  line-height: 1.5rem;
}
.packages .pkg{
  border-radius: 0 70px;
}
.packages .btn{
  border-radius: 20px;
}

.text-large {
  font-size: x-large;
}
/* =========================home ===================== */

i.textprimary{
  color: #28166f !important;
}
i.text-orangered{
  color: orangered !important;
}
i.bg-orangered{
  background: orangered;
}
button.bg-orangered{
  background: orangered;
}
.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-btn {
  display: block;
  flex: 1;
  padding: 8px 20px;
  background: #eee;
  border: 0;
  font-weight: bold;
}

.tab-indicator-container {
  display: flex;
  background: #eee;
  margin-bottom: 10px;
}

.border-radius-4{
  border-radius: 4px;
}


.tab-indicator {
  height: 3px;
  background: #28166f;
  transition: transform 0.2s;
}

.tab-content {
  padding: 10px;
}

.table-padding{
  padding: .5rem !important;
}

.payment_card{
  background: url('./assets/images/payment.png');
  background-size: contain ;
  background-repeat: no-repeat;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  height: 130px;
}

button:focus {
  outline: none !important;
}

.zoom-effect{
  transition: all 1s ease-in-out;
}
.zoom-effect:hover{
  transform: scale(1.05);
  transition: all .5s ease-in-out;
}

.hover-effect{
  transition: all ease-in-out 0.5s;
}

.hover-effect:hover{
  transform: scale(1.05);
  transition: all ease-in-out 0.5s;
}
.table-responsive{
  overflow-x: auto !important;
  /* min-height: 100vh !important; */
}
div.home {
  color: #3c4b64;
  background-color: #ddd;
  min-height: 100vh;
  width: 100vw;
  padding:30px 0;
}

div.home a {
  text-decoration: none;
}

.home-chart {
  background-color: whitesmoke;
  box-shadow: 2px 4px 6px 1px #191a35 !important;
}

nav.bg-navbar {
  color: #28166f;;
  background: #fff !important;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
}

/* Toggle buttons */
.list-group-item:hover {
  background: #ddd;
}
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 18px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.uppercase {
  text-transform: uppercase !important;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  top: -6px;
  left: -7px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

.dropdown-menu {
  left: -80px !important;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #0f033c ; /*04021b*/
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

 /* Pagination links */
 .pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}
.navbar-dark .navbar-toggler {
  color: #28166f !important;
  border-color: rgba(255,255,255,.1);
}

/* Style the active/current link */
.pagination a.active {
  background-color: #28166f;
  color: white;
}
.avatar-circle{
  border-radius: 50%;
  border: 2px solid #bdbdbd;
}
.btn-primary:focus {
  color: #fff;
  background-color: #28166f !important;
  border-color: #28166f !important;
  box-shadow: 0 0 0 .2rem #28166f !important;
}
/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;} 

/* Ticket Chat */
.chatbox{
  border-radius: 8px;
  padding: 10px 20px;
}
.msg_time {
  color: rgb(108, 117, 125);
  font-size: 10px;
}
.user_img_msg {
  height: 40px;
  width: 40px;
  border: 1.5px solid #f5f6fa;
}
#chat small{
  font-weight: 900;
}
.ticket-title{
  font-size: larger;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00000008; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2828b4; 
}

.border-top-green{
  border-top: 5px solid green !important;
}

.border-top-red{
  border-top: 5px solid #dc3545  !important;
}

.close-fund {
  color: #fff;
  position: absolute;
  top: 40px;
  right: 35px;
  font-size: 28px;
  font-weight: bold;
}

.close-fund:hover,
.close-fund:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.dark-red{
  color: #dc3546a6;
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 600px !important;
}
.modal-del{
  width: 400px !important;
}

/* The Close Button */
.close {
  color: #fff;
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.top-left{
  top: 15px;
  left: 35px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

img.image_sidebar {
  border-radius: 50%;
}
.sidebar .font-sm {
  font-size: 11px !important;
}

#sidebar.active {
  left: 0;
}

#sidebar {
  width: 200px;
  position: fixed;
  top: 0;
  /* left: -200px; */
  min-height: 100vh ;
  z-index: 2000;
  overflow-y: auto;
  background: #28166f ; /* #66023c #8a88a2 #9ab4ce  */
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  color: #fff;
  overflow-x: hidden;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  /* box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5); */
  font-weight: 910;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}

.overlay.active {
  display: block;
  opacity: 1;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  bottom: 0;
  left: 0;
}

.up {
  z-index: 10000;
}

div ul a li {
  text-decoration: none;
  color: #e1e1e1;
}

#wrapper {
  width: 100vw;
}
span.image_name {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
}
.btn-primary {
  color: #fff;
  background-color: #28166f !important;
  border-color: #28166f !important;
}
.sidemenu {
  background-color: #8894a2;
  /* min-height: 100vh; */
  width: 200px;
  margin-top: 45px;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.contentlogin{
  margin-left: 100px !important;
}
.content {
  width: calc(100vw - 200px);
  margin-left: 200px !important;
  margin-top: 40px;
}
.logoname{
  font-weight: bold !important;
  font-family: inherit;
  font-size: large !important;
  margin-top: 20px;
}

.img-name{
  display: block;
}
@media(max-width: 987px) {
  .content {
    margin-left: 0 !important;
  }
  .img-name{
    display: none;
  }
}


 
@media (min-width: 992px) {
  .sidemenu {
    display: block;
  }

  /* .content {
    width: calc(100vw - 200px);
    margin-left: 200px;
    margin-top: 58px;
  } */

}

@media (max-width: 991px) {
  .sidemenu {
    display: none;
  }

  .content {
    width: 100vw;
    margin-left: 0;
    overflow-y: auto;
  }

  div.home {
    padding: 0;
  }

  .ticket-title {
    display: block;
  }
  .modal-content{
    width: 300px !important;
  }
  .modal{
    width: 100% !important;
  }
  .box1{
    order:2
  }
  .box2{
    order:1
  }
  .image-product {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}
.image-product {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.imageProduct{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.imageProduct-inner{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*

@media only screen and (max-width: 1440px) {
  .content {
    margin-top: 60px;
    margin-left: 240px;
  }
}

@media only screen and (max-width: 1280px) {
  .content {
    margin-top: 60px;
    margin-left: 210px;
  }
}

@media only screen and (max-width: 1024px) {
  .content {
    margin-top: 60px;
    margin-left: 170px;
  }
}

@media only screen and (max-width: 992px) {
  .content {
    margin-top: 60px;
    margin-left: 170px;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    margin-top: 60px;
    margin-left: 0;
  }
} */

div.card1 {
  background: linear-gradient(45deg, #4638c2 0%, #2d2587 100%) !important;
  border-color: #2d2587 !important;
  box-shadow: 8px 8px 1px 1px #7d73d8;
  color: #fff;
}

div.cardd {
  background: linear-gradient(45deg, #41c238 0%, #2d8725 100%) !important;
  border-color: #2d8725 !important;
  box-shadow: 8px 8px 1px 1px #46b442;
  color: #fff;
}

div.carddd {
  background: linear-gradient(45deg, #e1a82d 0%, #dd9124 100%) !important;
  border-color: #dd9124 !important;
  box-shadow: 8px 8px 1px 1px #e4b44d;
  color: #fff;
}

div.cardddd {
  background: linear-gradient(45deg, #17a2b8  0%, #17a2b8  100%) !important;
  border-color: #17a2b8 !important;
  color: #fff;
  box-shadow: 8px 8px 1px 1px #23d6f1;
}

div ul.components li, ul.components a p {
  padding: 10px;
  transition: all ease-in-out 0.5s;
}
ul.components a p{
  font-size: 14px;
}
div ul.components li:hover {
  padding: 10px 5px;
  margin: 5px 0;
  background:#0f033c   !important;
  border-color: #0f033c   !important;
  transform: scale(0.985);
  border-radius: 0;
}
#preview img.col-md-3{
  margin-bottom: 1rem;
}
a:hover {
  text-decoration: none !important;
  color: white;
}

.last {
  position: absolute;
  top: 0;
  bottom: 0;
  color: white;
  text-align: center;
}
select {
  word-wrap: normal;
  background: #ccc;
}
.select-box{
  background: #ccc !important;
}
.last_ {
  position: fixed;
  bottom: 0;
  color: white;
  text-align: left;
  background: #28166f;
  width: 192px;
}
.logout{
  position: relative;
  
}
.text-purple {
  color: #28166f;
}
.fas.text-purple.fa-2x.fa-camera-retro {
  cursor: pointer;
  position: absolute;
  left: 68%;
}

/* TABLE */

#table.card {
  background-color: whitesmoke;
  box-shadow: 2px 4px 6px 1px #5b5b61 !important;
  color: #0a0b18;
}

.row.form{
  height: 100vh;
  align-items: center;
}

/* FORM */

/* #profile div.card-header, #profile div.card-footer {
  background-color: #fff;
  border-color: #181924;
} */

#profile div.card-body {
  background-color: #fff;
}

/* #profile div.card {
  border: 1px solid rgba(0, 0, 0, 0.8);
} */

#profilePix div.card-header {
  background-color: #04021b;
  border-color: #181924;
  padding: 63px 0;
}
/* .table-hover tbody tr:hover {
  color: #c1cdd8 !important;
} */
#chat small{
  font-size: 11px;
}

#studentPix div.card-header {
  background-color: #28166f ;
  border-color: #28166f ;
  padding: 63px 0;
}
.custom-show{
  transition: all 5s ease-in-out !important;
}


.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

