@import url("https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/*PEN STYLES*/
body {
	background: #f1f1f1;
	margin-top: 2rem;
	font-family: "fira-code";
}
.contactForm {
	border-radius: 4px;
	box-sizing: border-box;
	margin: auto;
	max-width: 450px;
	overflow: hidden;
}
.contactForm .formHeader {
	color: #fff;
	text-align: center;
	overflow: hidden;
	/*TRANSITION*/
	transition: all 0.5s ease;
}
.contactForm > .formHeader > h4 {
	line-height: 1em;
	margin-bottom: 0;
}
.contactForm .formBody {
	background: #fff;
	padding: 20px 12px;
	overflow: hidden;
	/*TRANSITION*/
	transition: all 0.2s ease;
}
.contactForm .inputContainer {
	border: 1px solid #ccc;
	border-radius: 3px;
	position: relative;
	margin-bottom: 5px;
	overflow: hidden;
	background: transparent;
}
.contactForm .inputContainer .message {
	color: #ff0000;
	background: #ffb8b8;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 0;
	margin: 0;
	line-height: 2.5em;
	text-align: center;
	overflow: hidden;
	/*TRANSITION*/
	transition: all 0.1s ease;
}
.contactForm .inputContainer label,
.contactForm .inputContainer input,
.contactForm .inputContainer textarea {
	box-sizing: border-box;
	padding: 10px;
	font-size: 14px;
	line-height: 1em;
	border: none;
	font: inherit;
}
.contactForm .inputContainer label {
	display: inline-block;
	font-size: 0.7em;
	background: #e0e0e0;
	color: rgba(0, 0, 0, 0.3);
	line-height: 1.75em;
	border-right: 1px solid #ccc;
	/*POSITION*/
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}
.contactForm .inputContainer textarea,
.contactForm .inputContainer input {
	width: 100%;
	max-width: 100%;
}
.contactForm .inputContainer textarea {
	margin-bottom: -5px;
}
.contactForm .inputContainer input {
	padding-left: 50px;
}
.contactForm .submitBtn {
	float: right;
	width: auto;
	/*TRANSITION*/
	transition: background 0.5s ease;
}
.contactForm.success {
	overflow: hidden;
}
.contactForm.success .formHeader {
	background: #0a8754;
	border-color: #087046;
	font-size: 0.75em;
}
.contactForm.success .formBody {
	height: 0;
	padding-top: 0;
	padding-bottom: 0;
}
.contactForm.success .formBody form {
	/*TRANSITION*/
	transition: opacity 0.5s ease;
	opacity: 0;
}
.contactForm .inputContainer.success {
	border-color: #76d176;
}
.contactForm .inputContainer.success:after {
	font: 1.25em/2em FontAwesome;
	color: #82e682;
	position: absolute;
	top: 0;
	right: 10px;
	content: "\f00c";
}
.contactForm .inputContainer.success label {
	background: #82e682;
	border-color: #76d176;
}
.contactForm .inputContainer.success input,
.contactForm .inputContainer.success textarea {
	color: #0a8754;
}
.contactForm .inputContainer.error {
	border-color: #e75353;
}
.contactForm .inputContainer.error .message {
	width: 100%;
}
.contactForm .inputContainer.error:after {
	font: 1.25em/2em FontAwesome;
	color: #ff5c5c;
	position: absolute;
	top: 0;
	right: 10px;
	content: "\f00d";
}
.contactForm .inputContainer.error label {
	background: #ff5c5c;
	border-color: #e75353;
}
.contactForm .inputContainer.error input,
.contactForm .inputContainer.error textarea {
	color: #ff5c5c;
}

/* WAVE */
/* best seen at 1500px or less */

.ocean {
	height: 200px;
	width: 100%;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
}

.ocean.v01 .wave {
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
}

.ocean.v01 {
	transform: rotate(180deg);
	position: absolute;
	top: 0;
}

.wave {
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
	position: absolute;
	bottom: -25px;
	width: 6400px;
	height: 100%;
	animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
	transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
	bottom: -25px;
	animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
	opacity: 1;
}

@keyframes wave {
	0% {
		margin-left: 0;
	}
	100% {
		margin-left: -1600px;
	}
}

@keyframes swell {
	0%,
	100% {
		transform: translateY(-25px);
	}
	50% {
		transform: translateY(5px);
	}
}
main{
	height: 80vh;
}
footer::before{
	content: "\00a9\a0\a0";
	font-size: 13px;
	vertical-align: middle;
	padding-bottom:6px;
}
footer {
	min-height: 3vh;
	background: linear-gradient(to bottom right, blue, green);
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
}
footer::after{
	content: "\Hello World ";
	font-size: 13px;
	vertical-align: middle;
	padding-bottom:6px;
}
