@import url("https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css");
:root {
  --text-default: #121212;
  --bg-default: #eee;
  --font: "fira-code, sans-serif";
  --text-color: #eee;
  --bkg-color: #121212;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    color: var(--text-color);
    background: var(--bkg-color);
  }
  body.light-theme {
    color: var(--text-default);
    background: var(--bg-default);
  }

  img {
    filter: brightness(0.8) contrast(1.2);
  }
}
body {
  background: var(--bkg-color);
  color: var(--text-color);
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.border-bottom {
  border-color: #999 !important;
}

.alert {
  padding: 15px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8 !important;
}

#date {
  background-color: #ccc;
  color: black;
  padding: 30px;
  text-align: center;
  border-radius: 2px;
  margin-bottom: 20px;
  box-shadow: 1px 3px 3px 1px #444;
}

#todoList li {
  padding: 15px 10px 15px 20px;
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0.03rem;
  animation: fadeIn 0.5s linear;
  margin-bottom: 5px;
}
#todoList li .fadeOut {
  animation: fadeOut 0.5s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    margin-top: -50px;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    margin-top: 0px;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    margin-top: -50px;
  }
}
.delete {
  float: right;
  background: none;
  border: none;
  outline: 0;
  line-height: 0.85rem;
  font-size: 1rem;
  color: red;
}
.delete:hover {
  color: red;
  outline: 0;
  border: none;
}

/*PEN STYLES*/
.contactForm {
  border-radius: 4px;
  box-sizing: border-box;
  margin: auto;
  max-width: 450px;
  overflow: hidden;
  /*SUCESS STYLES*/
}
.contactForm .formHeader {
  background: #54428e;
  border-bottom: 4px solid #54428e;
  color: #fff;
  text-align: center;
  overflow: hidden;
  /*TRANSITION*/
  transition: all 0.5s ease;
}
.contactForm .formHeader h1 {
  line-height: 1em;
}
.contactForm .formBody {
  background: #fff;
  padding: 20px 12px;
  overflow: hidden;
  /*TRANSITION*/
  transition: all 0.2s ease;
}
.contactForm .inputContainer {
  border: 1px solid #ccc;
  border-radius: 3px;
  position: relative;
  margin-bottom: 5px;
  overflow: hidden;
  background: transparent;
}
.contactForm .inputContainer .message {
  color: #ff5c5c;
  background: #ff5c5c;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  margin: 0;
  line-height: 2.5em;
  text-align: center;
  overflow: hidden;
  /*TRANSITION*/
  transition: all 0.1s ease;
}
.contactForm .inputContainer label,
.contactForm .inputContainer input,
.contactForm .inputContainer textarea {
  box-sizing: border-box;
  padding: 10px;
  font-size: 14px;
  line-height: 1em;
  border: none;
  font: inherit;
}
.contactForm .inputContainer label {
  display: inline-block;
  font-size: 0.7em;
  background: #ccc;
  color: rgba(0, 0, 0, 0.3);
  line-height: 1.75em;
  border-right: 1px solid #ccc;
  /*POSITION*/
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
.contactForm .inputContainer textarea,
.contactForm .inputContainer input {
  width: 100%;
  max-width: 100%;
}
.contactForm .inputContainer textarea {
  margin-bottom: -5px;
}
.contactForm .inputContainer input {
  padding-left: 50px;
}
.contactForm .submitBtn {
  background: #54428e;
  color: #fff;
  border: none;
  border-radius: 3px;
  font: inherit;
  padding: 10px 18px;
  margin-top: 10px;
  float: right;
  width: auto;
  /*TRANSITION*/
  transition: background 0.5s ease;
}
.contactForm .submitBtn:hover {
  background: #54428e;
}
.contactForm.success {
  overflow: hidden;
}
.contactForm.success .formHeader {
  background: #0a8754;
  border-color: #0a8754;
  font-size: 0.75em;
}
.contactForm.success .formBody {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.contactForm.success .formBody form {
  /*TRANSITION*/
  transition: opacity 0.5s ease;
  opacity: 0;
}
.contactForm .inputContainer.success {
  border-color: #82e682;
}
.contactForm .inputContainer.success:after {
  font: 1.25em/2em FontAwesome;
  color: #82e682;
  position: absolute;
  top: 0;
  right: 10px;
  content: "";
}
.contactForm .inputContainer.success label {
  background: #82e682;
  border-color: #82e682;
}
.contactForm .inputContainer.success input,
.contactForm .inputContainer.success textarea {
  color: #0a8754;
}
.contactForm .inputContainer.error {
  border-color: #ff5c5c;
}
.contactForm .inputContainer.error .message {
  width: 100%;
}
.contactForm .inputContainer.error:after {
  font: 1.25em/2em FontAwesome;
  color: #ff5c5c;
  position: absolute;
  top: 0;
  right: 10px;
  content: "";
}
.contactForm .inputContainer.error label {
  background: #ff5c5c;
  border-color: #ff5c5c;
}
.contactForm .inputContainer.error input,
.contactForm .inputContainer.error textarea {
  color: #ff5c5c;
}

/*WAVE*/
.audiobox {
  height: 400px;
  width: 300px;
  background-color: #fcfcfc;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  position: absolute;
  overflow: hidden;
  transform: translate(-50%, -50%);
  border-bottom: 2px solid #262626;
  border-right: 2px solid #262626;
  box-shadow: 2px 2px 10px #262626;
}

h1.hello {
  padding-top: 50px;
  text-align: center;
  font-family: "Gloria Hallelujah", cursive;
  color: #eda698;
}

.wave {
  top: 75%;
  left: -117%;
  width: 1000px;
  height: 1025px;
  background-color: #61aca9;
  opacity: 0.6;
  position: absolute;
  border-radius: 40%;
}
.wave.one {
  animation: wave 15s linear -1s infinite;
}
.wave.two {
  animation: wave 18s linear -1s infinite;
}
.wave.three {
  animation: wave 21s linear -1s infinite;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ==================================================== */
form > div {
  margin-bottom: 20px;
}

label {
  display: block;
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 30px;
}
label[for=file] {
  box-shadow: 1px 1px 3px #ccc;
  background: linear-gradient(to bottom, #eee, #ccc);
  border: 1px solid darkgray;
  border-radius: 5px;
  text-align: center;
  line-height: 1.5;
}

input {
  display: block;
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 30px;
}
input[type=file] {
  height: 0;
  padding: 0;
  opacity: 0;
}

label,
input {
  display: block;
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 30px;
}

/*# sourceMappingURL=style.css.map */
