@charset "UTF-8";

:root {
	--text-default: #121212;
	--bg-default: #eee;
	--font: "fira-code, sans-serif";
	--text-color: #eee;
	--bkg-color: #121212;
}
@media (prefers-color-scheme: dark) {
	/* defaults to dark theme */

	body {
		color: var(--text-color);
		background: var(--bkg-color);

		&.light-theme {
			color: var(--text-default);
			background: var(--bg-default);
		}
	}
	img {
		filter: brightness(0.8) contrast(1.2);
	}
}

body {
	background: var(--bkg-color);
	color: var(--text-color);
}

ul {
	list-style-type: none;
	padding-left: 0;
}
.border-bottom {
	border-color: #999 !important;
}

.alert {
	padding: 15px;
	border: 1px solid #d6e9c6;
	border-radius: 4px;
	color: #3c763d;
	background-color: #dff0d8 !important;
}

#date {
	background-color: #ccc;
	color: black;
	padding: 30px;
	text-align: center;
	border-radius: 2px;
	margin-bottom: 20px;
	box-shadow: 1px 3px 3px 1px #444;
}

#todoList li {
	padding: 15px 10px 15px 20px;
	text-transform: uppercase;
	font-size: 0.85rem;
	letter-spacing: 0.03rem;
	animation: fadeIn 0.5s linear;
	margin-bottom: 5px;

	.fadeOut {
		animation: fadeOut 0.5s linear;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		margin-top: -50px;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
		margin-top: 0px;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		margin-top: 0px;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 0;
		margin-top: -50px;
	}
}

.delete {
	float: right;
	background: none;
	border: none;
	outline: 0;
	line-height: 0.85rem;
	font-size: 1rem;
	color: red;

	&:hover {
		color: red;
		outline: 0;
		border: none;
	}
}

/*PEN STYLES*/

.contactForm {
	border-radius: 4px;
	box-sizing: border-box;
	margin: auto;
	max-width: 450px;
	overflow: hidden;

	/*SUCESS STYLES*/

	.formHeader {
		background: #54428e;
		border-bottom: 4px solid #54428e;
		color: #fff;
		text-align: center;
		overflow: hidden;

		/*TRANSITION*/
		transition: all 0.5s ease;

		h1 {
			line-height: 1em;
		}
	}

	.formBody {
		background: #fff;
		padding: 20px 12px;
		overflow: hidden;

		/*TRANSITION*/
		transition: all 0.2s ease;
	}

	.inputContainer {
		border: 1px solid #ccc;
		border-radius: 3px;
		position: relative;
		margin-bottom: 5px;
		overflow: hidden;
		background: transparent;

		.message {
			color: #ff5c5c;
			background: #ff5c5c;
			position: absolute;
			top: 0;
			bottom: 0;
			width: 0;
			margin: 0;
			line-height: 2.5em;
			text-align: center;
			overflow: hidden;

			/*TRANSITION*/
			transition: all 0.1s ease;
		}

		label,
		input,
		textarea {
			box-sizing: border-box;
			padding: 10px;
			font-size: 14px;
			line-height: 1em;
			border: none;
			font: inherit;
		}

		label {
			display: inline-block;
			font-size: 0.7em;
			background: #ccc;
			color: rgba(0, 0, 0, 0.3);
			line-height: 1.75em;
			border-right: 1px solid #ccc;

			/*POSITION*/
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
		}

		textarea,
		input {
			width: 100%;
			max-width: 100%;
		}

		textarea {
			margin-bottom: -5px;
		}

		input {
			padding-left: 50px;
		}
	}

	.submitBtn {
		background: #54428e;
		color: #fff;
		border: none;
		border-radius: 3px;
		font: inherit;
		padding: 10px 18px;
		margin-top: 10px;
		float: right;
		width: auto;

		/*TRANSITION*/
		transition: background 0.5s ease;

		&:hover {
			background: #54428e;
		}
	}

	&.success {
		overflow: hidden;

		.formHeader {
			background: #0a8754;
			border-color: #0a8754;
			font-size: 0.75em;
		}

		.formBody {
			height: 0;
			padding-top: 0;
			padding-bottom: 0;

			form {
				/*TRANSITION*/
				transition: opacity 0.5s ease;
				opacity: 0;
			}
		}
	}

	.inputContainer {
		&.success {
			border-color: #82e682;

			&:after {
				font: 1.25em/2em FontAwesome;
				color: #82e682;
				position: absolute;
				top: 0;
				right: 10px;
				content: "";
			}

			label {
				background: #82e682;
				border-color: #82e682;
			}

			input,
			textarea {
				color: #0a8754;
			}
		}

		&.error {
			border-color: #ff5c5c;

			.message {
				width: 100%;
			}

			&:after {
				font: 1.25em/2em FontAwesome;
				color: #ff5c5c;
				position: absolute;
				top: 0;
				right: 10px;
				content: "";
			}

			label {
				background: #ff5c5c;
				border-color: #ff5c5c;
			}

			input,
			textarea {
				color: #ff5c5c;
			}
		}
	}
}

/*backgroundChange*/
@keyframes wave-animate {
	0% {
		transform: scale(0);
		opacity: 1;
		transform-origin: center;
	}

	100% {
		transform: scale(3);
		opacity: 0;
		transform-origin: center;
	}
}

@keyframes color-loop {
	0% {
		background: #2cab5b;
	}

	25% {
		background: #fabc03;
	}

	50% {
		background: #ed4b40;
	}

	75% {
		background: #4286f3;
	}

	100% {
		background: #2cab5b;
	}
}

.body {
	width: 100%;
	min-height: 100vh;
	background: #0a212e;
	margin: 0px;
	overflow: hidden;
	animation: color-loop 18s infinite;
}

.waves {
	position: relative;
	top: 50vh;
	background: rgba(255, 255, 255, 0.3);
	left: 50%;
	width: 25px;
	height: 25px;
	margin-left: -12px;
	margin-top: -12px;
	border-radius: 50%;
	-webkit-backface-visibility: hidden;

	&:before {
		position: absolute;
		background: white;
		margin-left: -12px;
		margin-top: -12px;
		width: 50px;
		height: 50px;
		content: "";
		display: block;
		border-radius: 50%;
		-webkit-backface-visibility: hidden;
		animation: wave-animate 3s infinite ease-out;
	}

	&:after {
		position: absolute;
		background: white;
		margin-left: -12px;
		margin-top: -12px;
		width: 50px;
		height: 50px;
		content: "";
		display: block;
		border-radius: 50%;
		-webkit-backface-visibility: hidden;
		opacity: 0;
		animation: wave-animate 3s 1.5s infinite ease-out;
	}
}

/*WAVE*/

.audiobox {
	height: 400px;
	width: 300px;
	background-color: #fcfcfc;
	border-radius: 5px;
	top: 50%;
	left: 50%;
	position: absolute;
	overflow: hidden;
	transform: translate(-50%, -50%);
	border-bottom: 2px solid #262626;
	border-right: 2px solid #262626;
	box-shadow: 2px 2px 10px #262626;
}

h1.hello {
	padding-top: 50px;
	text-align: center;
	font-family: "Gloria Hallelujah", cursive;
	color: #eda698;
}

.wave {
	top: 75%;
	left: -117%;
	width: 1000px;
	height: 1025px;
	background-color: #61aca9;
	opacity: 0.6;
	position: absolute;
	border-radius: 40%;

	&.one {
		animation: wave 15s linear -1s infinite;
	}

	&.two {
		animation: wave 18s linear -1s infinite;
	}

	&.three {
		animation: wave 21s linear -1s infinite;
	}
}

@keyframes wave {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* ==================================================== */

form > div {
	margin-bottom: 20px;
}

label {
	display: block;
	font-family: inherit;
	font-size: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	width: 100%;
	padding: 5px;
	height: 30px;

	&[for="file"] {
		box-shadow: 1px 1px 3px #ccc;
		background: linear-gradient(to bottom, #eee, #ccc);
		border: 1px solid darkgray;
		border-radius: 5px;
		text-align: center;
		line-height: 1.5;
	}
}

input {
	display: block;
	font-family: inherit;
	font-size: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	width: 100%;
	padding: 5px;
	height: 30px;

	&[type="file"] {
		height: 0;
		padding: 0;
		opacity: 0;
	}
}

label,
input {
	display: block;
	font-family: inherit;
	font-size: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	width: 100%;
	padding: 5px;
	height: 30px;
}
